.layout {
  display: flex;
  flex-direction: row;
  width: 960px;
  margin: 0 auto;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 20%;
  margin: 5%;
}

.layout__content {
  padding-top: 20px;
  //margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 35%;
  * {
    width: 100%;
  }
}

.add-form__buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;

  button {
    width: auto;
    margin: 0 5px;
  }
}

.test-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  * {
    width: 50px;
  }
}
