<div class="layout">
  <aside class="left-sidebar">
    <!--
      <mat-card>
        <mat-card-header> <mat-card-title> Добавить: </mat-card-title> </mat-card-header>
        <mat-card-content>
          <p>типо табы? О_о</p>
          <p>много табов</p>
          <p>целых три</p>
        </mat-card-content>
      </mat-card>
    -->
    <app-client-info-edit></app-client-info-edit>
  </aside>

  <div class="layout__content">
    <form class="add__form" [formGroup]="addCarForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input
          matInput
          formControlName="vin"
          placeholder="VIN"
          type="text"
          maxlength="17"
          #vin
          [value]="vin.value.toUpperCase()"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Гос номер"
          formControlName="governmentNumber"
          type="text"
          maxlength="9"
          #govermentNumber
          [value]="govermentNumber.value.toUpperCase()"
        />
      </mat-form-field>
      <mat-form-field> <input matInput formControlName="brand" placeholder="Марка" type="text" /> </mat-form-field>
      <mat-form-field> <input matInput placeholder="Модель" formControlName="model" type="text" /> </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Год" formControlName="year" type="number" min="1940" max="2019" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Объем двигателя" formControlName="engineDisplacement" type="number" step="0.1" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Л.С." formControlName="horsePower" type="number" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Модель двигателя" formControlName="engineModel" type="text" />
      </mat-form-field>
      <!-- это поле поправить -->
      <!-- typeOfGasoline: TypeOfGasoline; -->
      <mat-form-field>
        <mat-label>Тип топлива</mat-label>
        <mat-select formControlName="typeOfGasoline">
          <mat-option *ngFor="let type of typeOfGasolineKeys" value="type">{{ typeOfGasoline[type] }}</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- это тоже -->
      <!-- bodyType: BodyType; -->
      <mat-form-field>
        <mat-label>Тип кузова</mat-label>
        <mat-select formControlName="bodyType">
          <mat-option *ngFor="let type of bodyTypeKeys" value="type">{{ bodyType[type] }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Тип трансмиссии</mat-label>
        <mat-select formControlName="gearBox">
          <mat-option *ngFor="let type of gearBoxKeys" value="type">{{ gearBox[type] }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="add-form__buttons">
        <button mat-raised-button color="primary" [disabled]="addCarForm.invalid" type="submit">Добавить</button>
        <button mat-raised-button type="button" (click)="resetForm()">Сбросить</button>
      </div>
      <div>
        <!--
          toggle button
          затем одна ветка поиск,
          разместить тут поиск клиента или модалку на добавление нового
        -->
        <!-- ownerId: number; -->
      </div>
    </form>
  </div>
</div>
