<div class="layout">
    <div class="left-sidebar">
        <ul *ngFor="let item of catalog$">
            <li>{{ item.name }}</li>
        </ul>
    </div>

    <div class="content">
        content
    </div>
</div>
