<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="logo" routerLink="/">AutoHelp</span> <span class="toolbar-link" routerLink="catalog">каталог</span>
    <span class="toolbar-link" routerLink="add">добавить</span>
    <span class="toolbar-link" routerLink="">календарь</span> <span class="app-spacer"></span>
    <app-search (takeResult)="navigateToResultSearch($event)"></app-search>
    <span class="app-spacer"></span>

    <button
      mat-icon-button
      color="accent"
      type="button"
      *ngIf="(isLoggedIn | async)['token'] !== ''"
      (click)="logOut()"
    >
      <mat-icon aria-label="Example icon-button with a heart icon">power_off</mat-icon>
    </button>
    <button
      mat-icon-button
      type="button"
      routerLink="/login"
      color="accent"
      *ngIf="(isLoggedIn | async)['token'] === ''"
    >
      <mat-icon aria-label="Example icon-button with a heart icon">exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
