$fontColor-menu: #229210;
$fontColor-activeMenu: #cccccc;

mat-toolbar-row {
    width: 960px;
    margin: 0 auto;
}

.logo {
    padding: 0 14px 0 0;
}

.toolbar-link {
    padding: 0 14px;
    cursor: pointer;
}

.toolbar-navigation {
    display: flex;
    flex-grow: 10;
    justify-content: flex-start;

    a {
        color: $fontColor-menu;
        margin-right: 1em;
        cursor: pointer;

        &:hover {
            color: $fontColor-activeMenu
        }

        &:visited {
            color: $fontColor-menu;
        }
    }
}

.app-spacer {
    flex: 1 1 auto;
}

.app-logout-button {
    padding: 0 14px;
}
