<form [formGroup]="clientForm" (ngSubmit)="onSubmitClient()">
  <mat-form-field> <input matInput placeholder="Фамилия" formControlName="surname" type="text" /> </mat-form-field>
  <mat-form-field> <input matInput placeholder="Имя" formControlName="name" type="text" /> </mat-form-field>
  <mat-form-field> <input matInput placeholder="Отчество" formControlName="middleName" type="text" /> </mat-form-field>
  <mat-form-field>
    <span matPrefix>+7 &nbsp;</span>
    <input
      matInput
      placeholder="номер телефона"
      formControlName="phoneNumber"
      minlength="10"
      maxlength="10"
      type="tel"
    />
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" formControlName="birthdayDate" placeholder="День рождения" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput formControlName="note" name="note" cols="30" rows="3"> </textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="clientForm.invalid">Добавить</button>
  <button mat-raised-button type="button" (click)="resetForm()">Сбросить</button>
</form>
