<div class="search__wrapper">
  <div class="search__form">
    <mat-form-field appearance="standart" class="search__field">
      <mat-label><mat-icon>search</mat-icon></mat-label>
      <input type="text" matInput [(ngModel)]="searchField" maxlength="17" />
    </mat-form-field>
    <button mat-raised-button (click)="onSearch()" type="button">Go</button>
  </div>
</div>
