<div class="not-found__container">
    <div class="not-found__header">
        <h1 class="not-found__title">Oops!</h1>
    </div>
    <h2 class="not-found__subtitle">404 - Page not found</h2>
    <p class="not-found__text">The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
    <a class="not-found__link" routerLink="/">Go To Homepage</a>
</div>
