$black: #373737;
$blue: #498ffb;
$white: #FFF;

.not-found__container  {
    display: flex;
    flex-direction: column;
    margin: 10rem auto 0;
    max-width: 45rem;
    width: 100%;
    text-align: center;

    .not-found__header {
        height: 18rem;
        z-index: -1;

        .not-found__title {
            font-family: 'Montserrat', sans-serif;
            font-size: 230px;
            margin: 0;
            font-weight: 900;
            background: url('/assets/img/bg.jpg') no-repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: cover;
            background-position: center;
        }
    }

    .not-found__subtitle {
        font-family: 'Montserrat', sans-serif;
        color: $black;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
    }

    .not-found__text {
        font-family: 'Montserrat', sans-serif;
        color: $black;
        font-size: 14px;
        font-weight: 400;
        width: 25rem;
        margin: 0 auto 1.5rem;
    }

    .not-found__link {
        width: 20rem;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        background: $blue;
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 2.5rem;
        color: $white;
        font-weight: 700;
        box-shadow: 0 4px 15px -5px $blue;
    }
}
