<div class="login__wrapper">
  <div class="login__form">
    <mat-form-field> <input type="text" matInput placeholder="Логин" [(ngModel)]="username" /> </mat-form-field>
    <br />
    <mat-form-field> <input type="password" matInput placeholder="Пароль" [(ngModel)]="password" /> </mat-form-field>
    <br />
    <button mat-raised-button color="primary" (click)="login()">Войти</button>
  </div>
</div>
