<div class="search-dialog__wrapper"
     (click)="onGoToSearchResult()">
    <h2 mat-dialog-title>Результат поиска</h2>
    <div mat-dialog-content>
        {{ headingDialog }}<br>
        <span class="search-dialog__result">{{ data.userInput }}</span>
    </div>
</div>
