@import "styles/variables";
html, body {
    height: 100%;
    font-size: 16px;
}
body { margin: 0; font-family: 'Roboto', sans-serif; }


.auto-link {
    padding: 0 1rem;
    color: white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
